.wrapper {
    margin: 1%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titleBar {
    width: 100%; 
    padding:0 20px; 
    color: #000000;
}

.title {
    float: left;
    font-size: 24px;
    font-weight: bold;
}

.more {
    float: right;
    font-size: 20px;
}

.contentWrapper {
    flex-direction: column;
    border: 1px solid #000000;
    padding: 40px 25px;
}

.leftContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    width:75%;
    height:350px;
    overflow: hidden;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    float: right;
    width: 25%;
}

.talentTitle {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    color:#000000;
}

.talentWrapper {
    display: flex;
    width:100%;
    height:360px;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}