.wrapper{
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 2px solid #999999;
    min-height: 100px;
}

.title{
    width:20%;
    font-size: 25px;
    /* font-weight: bold; */
    text-align: center;
    color: #000000
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    min-height: 200px;
    padding: 10px;
    overflow: hidden;
}

.image {
    width:150px;
    height: 150px;
    margin: 0px 15px;
}