.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:480px;
    height: 480px;
    border-radius: 12px;
    background-color: #ffffff
}

.background{
    width: 480px;
    height: 280px;
    border-radius: 12px;
}

.avatar{
    position:absolute;
    width:150px;
    height: 150px;
    border-radius: 75px;
    left: 165px;
    top: 205px;
}

.title{
    margin-top: 80px;
    font-size: 22px;
    color:#505050;
}

.abstract{
    font-size: 14px;
    color:#505050;
    margin-top: 10px;
}