.wrapper {
    display: flex;
    flex-direction: row;
    padding: 0px 10px 50px 10px;
}

.leftWrapper {
   float: left;
}

.pic {
    width: 150px;
    height: 116px;
}

.rightWrapper {
    margin-left: 10px;
    display:flex;
    flex-direction: column;
    width: 200px;
    height: 90%;
    justify-content: space-between;
    color: #000000;
    /* margin: 5px 10px; */
}

.placeName {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    font-weight: bold;
}

.centerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
}
.address {
    width:35%;
    font-size: 15px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.tag{
    width: 65%;
    display: flex;
    font-size: 15px;
    float: right;
    vertical-align: top;
}

.price {
    font-size: 19px;
    color:#d43043;
}