.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    color: #ffffff;
    background-color: #ffb71a;
}

.leftWrapper{
    align-items: flex-end;
}
.leftTitle {
    font-size: 24px;
}

.subTitle {
    font-size: 14px;
}