.wrapper {
    margin-top: -40px;
    font-size: 15px;
}

.title {
    clear:both;
    float: left;
    width: 60px;
    text-align: center;
    color: gray;
    font-weight: bold;
}

.tag {
    float: left;
    margin-left: 20px;
}

.tagNoChosen {
    float: left;
    margin-left: 20px;
}

.tagChosen {
    float: left;
    margin-left: 20px;
    background-color:  #ffb71a;
    color: white;
}

.clear {
    clear: both;
}
