.wrapper {
    margin-top: -40px;
    font-size: 15px;
}

.title {
    width: 60px;
    text-align: center;
    color: gray;
    font-weight: bold;
}

.tag {
    margin-left: 20px;
}

.tagNoChosen {
    margin-left: 18px;
    padding-left: 4px;
    cursor: pointer;
}

.tagChosen {
    margin-left: 18px;
    padding-left: 4px;
    cursor: pointer;
    background-color:  #ffb71a;
    color: white;
}
